body {
    margin-top: 50px;
    background-color: silver;
}

.right-clicked {
    background-color: #1c2e59;
}

td.right-clicked:hover {
    background-color: #c6c2ff;
}

td {
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
    background-color: #737373;
}

td:hover {
    background-color: #fff;
}

button {
    width: 75px;
    height: 30px;
}

button:hover {
    background-color: #737373;
}

button:focus {
    outline: none;
}

.selected {
    border-style: inset;
    background-color: #737373;
}